<div class="row">
    <br />
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <br />
        <div class="card">
            <form (ngSubmit)='onSubmit(editform)' #editform="ngForm">

            <div class="card-header">
                <h3><label class="control-label" for="UserId">{{user.USERID}}</label></h3>
            </div>

            <div class="card-body">
            <div class="form-group">
                <label class="control-label" for="UserName">Name:</label>
                <input type="text" class="form-control" id="UserName" name="UserName" [(ngModel)]="user.USERNAME" required
                    autofocus>
            </div>

            <div class="form-group">
                <label class="control-label" for="gender">Gender:</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="" selected>Select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="custom">Custom</option>
                    <option value="prefer">Prefer Not to Say</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="UserLocation">Location</label>
                <input type="text" class="form-control" id="UserLocation" name="UserLocation" [(ngModel)]="user.USERLOCATION" required autofocus>
            </div>

            <div class="form-group">
                <label class="control-label" for="UserAge">Age</label>
                <input type="number" class="form-control" id="UserAge" name="UserAge" [(ngModel)]="user.USERAGE" required autofocus>
            </div>


            <div class="form-group">
                <label class="control-label" for="UserSummary">About Me:</label>
                <textarea class="form-control" id="UserSummary" name="UserSummary" rows="5" [(ngModel)]="user.USERSUMMARY"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label" for="UserEmail">Email Address:</label>
                <input class="form-control" type="type" id="UserEmail" name="UserEmail" [(ngModel)]="user.USEREMAIL" required autofocus>
            </div>

            <!--
            <div class="form-group">
                <label class="control-label" for="genres">Preferred Genres:</label>
                <select multiple class="form-control" id="genres" name="genres">
                    <option value="horror">Survival Horror</option>
                    <option value="fighting">Fighting</option>
                    <option value="rpg">Roleplaying</option>
                    <option value="action">Action</option>
                    <option value="sports">Sports</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="systems">Systems:</label>
                <select multiple class="form-control" id="systems" name="systems">
                    <option value="switch">Nintendo Switch</option>
                    <option value="pc">PC</option>
                    <option value="ps4">Sony Playstation 4</option>
                    <option value="xbone">Microsoft Xbox One</option>
                </select>
            </div>
            -->
            <button class="btn btn-primary" type="submit">Confirm</button>&nbsp;
            <button class="btn btn-danger" (click)='this.onCancel()'>Cancel</button>
        </div>
    </form>
    </div>
</div>


<div class="col-md-2">
    <br />
    <div class="text-center">
        <img alt="profilePicture" src="../../assets/images/userProfile.svg" height=80 width=90 />
        <h6><a href="/editUser">Upload New Picture</a></h6>
    </div>
</div>
</div>