<br>
<div class="col-lg-12" style="padding:2%">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card text-center" style="background-color:transparent;">
        <div class="card-img-top">
          <img id="card-img" alt="profilePicture" src="../../assets/images/userProfile.svg" height=80 width=90>
        </div>
        <div class="card-info">
          <h3 class="card-title">{{user.USERID}}'s Friends</h3>
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">        
      <div class="card-info">
        <h3 class="card-title">Pending Requests</h3>
        <br />
      </div>
      <div *ngFor="let g of pendingFriends">
        <div class="row" style="border-bottom:1px solid rgb(134, 134, 134); padding-top: 7px; padding-bottom: 7px;">
          <div class="col-sm-3">
            <img id="card-img" alt="profilePicture" src="../../assets/images/userProfile.svg" height=50 width=60>
          </div>
          <div class="col-sm-9">
          <h3 class="card-title" [routerLink]="['/user/', g.USER_TWO_ID]" style="margin-bottom:-5px;">{{g.USER_TWO_ID}}</h3>
            <!-- If another person was the action user-->
            <div *ngIf="!actionUser">
              <a data-target="#modalAccept" data-toggle="modal" (click)="accept()" href="#">Accept Request</a>&nbsp;&nbsp;
              <a data-target="#modalConfirm" data-toggle="modal" (click)="setDelete(g.USER_TWO_ID)" href="#">Decline</a>
            </div>

            <!--If you are the action user-->
            <div *ngIf="actionUser">
              <p>Request sent</p>
            </div>
          </div>
          <!-- Modal PopUp-->
          <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalAccept" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                  <p style="text-align: center; padding-top:3%;">Friend Request Accepted!</p>
                </div>
                <div class="modal-footer">
                  <div style="padding:0px; padding-top:1px; padding-bottom:0%;">
                  <button class="btn btn-outline-danger btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div *ngFor="let f of acceptedFriends; let i = index">
        <div class="row" *ngIf="i % 4 == 0" style="margin:20px;">
          <div class="friend">
            <img id="card-img" alt="profilePicture" src="../../assets/images/userProfile.svg" height=100 width=100>
            <h3 class="card-title" [routerLink]="['/user/', f.USER_TWO_ID]" style="margin-bottom:-5px;">{{f.USER_TWO_ID}}</h3>
            <a data-target="#modalConfirm" data-toggle="modal" (click)="setDelete(f.USER_TWO_ID)" href="#">Remove</a>
          </div>
            <div *ngIf="i + 1 < acceptedFriends.length" class="friend">
                <img id="card-img" alt="profilePicture" src="../../assets/images/userProfile.svg" height=100 width=100>
                <h3 class="card-title" [routerLink]="['/user/', acceptedFriends[i+1].USER_TWO_ID]" style="margin-bottom:-5px;">{{acceptedFriends[i+1].USER_TWO_ID}}</h3>
                <a data-target="#modalConfirm" data-toggle="modal" (click)="setDelete(acceptedFriends[i+1].USER_TWO_ID)" href="#">Remove</a>
            </div>
            <div *ngIf="i + 2 < acceptedFriends.length" class="friend">
                <img id="card-img" alt="profilePicture" src="../../assets/images/userProfile.svg" height=100 width=100>
                <h3 class="card-title" [routerLink]="['/user/', acceptedFriends[i+2].USER_TWO_ID]" style="margin-bottom:-5px;">{{acceptedFriends[i+2].USER_TWO_ID}}</h3>
                <a data-target="#modalConfirm" data-toggle="modal" (click)="setDelete(acceptedFriends[i+2].USER_TWO_ID)" href="#">Remove</a>
            </div>
            <div *ngIf="i + 3 < acceptedFriends.length" class="friend">
                <img id="card-img" alt="profilePicture" src="../../assets/images/userProfile.svg" height=100 width=100>
                <h3 class="card-title" [routerLink]="['/user/', acceptedFriends[i+3].USER_TWO_ID]" style="margin-bottom:-5px;">{{acceptedFriends[i+3].USER_TWO_ID}}</h3>
                <a data-target="#modalConfirm" data-toggle="modal" (click)="setDelete(acceptedFriends[i+3].USER_TWO_ID)" href="#">Remove</a>
            </div>
        </div>
      </div>

      <div class="col-md-1"></div>
    </div>

  </div>
</div>

 <!-- Modal PopUp-->
 <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalConfirm" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body mb-0 p-0">
          <p style="text-align: center; padding-top:3%;">Are you sure?</p>
        </div>
        <div class="modal-footer">
          <div style="padding:0px; padding-top:1px; padding-bottom:0%;">
          <button (click)="onRemoveFriend(this.delFriend)" type="button" class="btn btn-outline-primary" data-target="#modalConfirm" data-toggle="modal" data-dismiss="modal" style="text-align:left;">Delete</button>
          <button class="btn btn-outline-danger btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </div>
      </div>
    </div>