<!-- Conditional: Shows the following if the user is a non-member, or not logged in -->

<!-- Conditional: Shows the following if the user is a member -->
<ng-template #elseBlock>
  <div class="card" id="group-card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8"><b>{{threadInfo[0].THREAD_TITLE}}</b></div>
      </div>
      <hr />
      <div class="row" *ngFor="let p of allPosts">
        <div class="col-sm-2" style="text-align: center">
          <img src="../../assets/images/userProfile.svg" height="75" width="75">
          <br/>
          <b>{{p.CREATED_BY}}</b>
          <div *ngIf="p.CREATED_BY == this.userID">
            <button type="button" class="btn btn-outline-danger" (click)="onDeletePost(p.POST_ID)">Delete</button>
          </div>
          <hr>  
        </div>
        <div class="col-sm-9">
          {{p.POST_CONTENT}}  
        </div>
      </div>
      <br> <br>
    </div>
    
  </div>
  <br />
  <button type="button" class="btn btn-outline-success" (click)="onCreatePost()" style="float: right">Post</button>
  <button type="button" class="btn btn-outline-dark" [routerLink]="['/groups/', this.groupID]" style="float: right">Back</button>
  <!-- Will be a conditional button, only creator of threads can delete threads -->
  <div *ngIf="threadInfo[0].CREATED_BY == this.userID">
    <button type="button" class="btn btn-outline-danger" (click)="onDeleteThread()" style="float: right">Delete Thread</button>
  </div>


</ng-template>
