<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="reset" method="get">
            <div class="form-group">
  
            <!-- Password -->
            <label class="control-label" for="UserPassword">Password:</label>
            <input type="password" class="form-control" pattern="[A-Za-z0-9_ ]{7,35}" #UserPassword="ngModel" name="UserPassword" [(ngModel)]="user.USERPASSWORD" required><br>
              <div *ngIf='UserPassword.invalid && (UserPassword.dirty || UserPassword.touched)' class='alert alert-danger'>
                <div *ngIf='UserPassword.errors.required'>Password is required, at least 8 characters</div>
                <div *ngIf='UserPassword.errors.pattern'>Password must be at least 8 characters</div>
              </div>
              <!-- Passwrd 2 -->
              <label class="control-label" for="UserPassword2">Re-enter Password:</label>
              <input type="password" class="form-control" pattern="[A-Za-z0-9_ ]{8,35}" required><br>
            </div>
            <button class="btn btn-primary" type="submit" form="reset"  [disabled]='!f.form.valid'>Reset Password</button>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/login" role="button">Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>