#mycontainer{
  display: block;
  max-width: 100%;
  margin: auto;
  margin-top: -100px;
  padding-left: 10%;
  padding-right: 20%;
  left:0%;
  right:10%;
  position:fixed;
}

#myheader{
  padding-top:0px;
  padding-left:80px;
  margin-top:-20px;
}

#navimg {
  width:183px;
  float:left;
  position: absolute;
}

#navimg2{
  position: absolute;
  left: 10%;
}

@media (min-width: 992px) {
  .navbar {
      height:50px;
  }
}