<nav class="navbar center navbar-expand-lg navbar-dark" *ngIf="nav.visible" style="padding-right:20%; background-color: #000000;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="nav-list">
        <!-- Search Bar -->
        <li class="nav-item mx-auto position-relative" style="padding-right:150px;">
        <form (ngSubmit)="onSubmit(searchform)" #searchform="ngForm">
        <div class="input-group">
          <input type="text" #Search="ngModel" name="Search" [(ngModel)]="query" class="form-control" 
          aria-label="Text input with segmented dropdown button" style="width: 500px; background-color: black; border: 1px solid dimgray; color:darkgray;">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Search {{action}}
                  <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="setAction('Games')">Games</a>
                      <a class="dropdown-item" (click)="setAction('Groups')">Groups</a>
                      <a class="dropdown-item" (click)="setAction('Users')">Users</a>
                    </div>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            </div>
        </div>
      </form>
        </li>
      <!-- Right Side Links -->
      <li class="nav-item"><a class="nav-link" routerLink="/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
      <li class="nav-item"><a class="nav-link" *ngIf="nav.accountOptions" routerLink="/collection/{{nav.username}}"> My Collection</a></li>
      <li class="nav-item dropdown" *ngIf="nav.accountOptions">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
        aria-expanded="false" href="/user/{{nav.username}}">Profile</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/user/{{nav.username}}" (click)="navigateToProfile()">View Profile</a>
            <a class="dropdown-item" routerLink="/editUser/{{nav.username}}">Edit Profile</a>
            <a class="dropdown-item" routerLink="/user/{{nav.username}}/friends">View Friends</a>
            <a class="dropdown-item" routerLink="/userGroups">View Groups</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Sign Out</a>
          </div>
      </li>
      <li class="nav-item" *ngIf="nav.promptLogin"><a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
    </ul>
  </div>
  
</nav>
<div id="mycontainer"> 
  <div id="navimg">
      <div id="navimg2">
        <a routerLink="/home"><img src="../../assets/images/navimg.png" height="183" width="150"/></a>
      </div>
  </div>
  <br /><br />
</div>