<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Log In</div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="login" method="get">

          <div class="form-group">

            <!-- Username -->
            <label class="control-label" for="UserId">Username:</label>
            <input type="text" class="form-control" pattern="[A-Za-z0-9_ ]{3,50}" #UserId="ngModel" name="UserId" [(ngModel)]="user.USERID" required><br>
              <div *ngIf='UserId.invalid && (UserId.dirty || UserId.touched)' class='alert alert-danger'>
                <div *ngIf='UserId.errors.required'>Username is required, 3 to 50 characters</div>
                <div *ngIf='UserId.errors.pattern'>Username must be at least 3 characters</div>
                </div>

            <!-- Password -->
            <label class="control-label" for="UserPassword">Password:</label>
            <input type="password" class="form-control" pattern="[A-Za-z0-9_ ]{7,35}" #UserPassword="ngModel" name="UserPassword" [(ngModel)]="user.USERPASSWORD" required><br>
              <div *ngIf='UserPassword.invalid && (UserPassword.dirty || UserPassword.touched)' class='alert alert-danger'>
                <div *ngIf='UserPassword.errors.required'>Password is required, at least 8 characters</div>
                <div *ngIf='UserPassword.errors.pattern'>Password must be at least 8 characters</div>
              </div>

            <span class="badge badge-danger" id="error"></span>
          </div>
          <button class="btn btn-primary" type="submit" form="login"  [disabled]='!f.form.valid'>Login</button>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-secondary" href="/signup" role="button">Register</a>
        </form>
        <hr>
        <!-- Forgot Password -->
        <a href="/forgotPassword">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>