<div class="card" id="group-card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8"><b>Thread Creation</b></div>
      </div>
      <hr />
      <form (ngSubmit)='ThreadFormSubmit(f)' #f='ngForm' id="threadForm">
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" id="threadTitle" name="threadTitle" #threadTitle="ngModel" [(ngModel)]="thread.THREAD_TITLE" pattern="[A-Za-z0-9_ ]{1,50}" placeholder="Title Here" required>
                  <div *ngIf='threadTitle.invalid && (threadTitle.dirty || threadTitle.touched)' class='alert alert-danger'>
                    <div *ngIf='threadTitle.errors.required'>Title is required</div>
                  </div>
                  <br />
                  <input type="text" class="form-control" id="threadSubject" name="threadSubject" #threadSubject="ngModel" [(ngModel)]="thread.THREAD_SUBJECT" pattern="[A-Za-z0-9_ ]{1,50}" placeholder="Subject Here (Optional)">
                  <!-- Not required, so this is not needed
                  <div *ngIf='threadSubject.invalid && (threadSubject.dirty || threadSubject.touched)' class='alert alert-danger'>
                    <div *ngIf='threadSubject.errors.required'>Summary is required</div>
                  </div>
                  
                  <br />
                  <textarea rows="8" class="form-control" id="threadContent" name="threadContent" required></textarea>
                  -->
                  <br />
                  <div style="float:right">
                    <button type="button" class="btn btn-outline-danger" [routerLink]="['/groups/', group[0].GROUPID]">Back</button> &nbsp;&nbsp;
                    <button type="submit" class="btn btn-outline-success" form="threadForm" [disabled]="!f.form.valid">Submit</button>
                  </div>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>