@import url(https://fonts.googleapis.com/css?family=Montserrat);
h1 {
    color: rgb(51, 102, 153);
    font-family: 'Montserrat';
    font-size: 250%;
    margin-left: 2.5%;
}

h2, h3 {
    color: rgb(100, 149, 237);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
    background-color: #5D5C61;
    height: 100%;
}

html {

    height: 100%;
}