<div class="card" id="group-card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">Discussions</div>
    </div>
    <hr />
    <div class="row" *ngFor="let t of threads">
      <div class="col-sm-8"><b><a [routerLink]="['/groups/' + t.GROUPID + '/viewThread/' + t.THREAD_ID]">{{t.THREAD_TITLE}}</a></b><br>
        {{t.THREAD_SUBJECT}}</div>
      <div class="col-sm-3">Created By: <b><a [routerLink]="">{{t.CREATED_BY}}</a></b></div>
    </div>
  </div>
</div>
<br />
<button type="button" class="btn btn-outline-success" [routerLink]="['/groups/' + this.groupname + '/createThread/']" style="float:right;">Create Discussion</button> 


