<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <br />
    <div class="card">
      <div class="card-header">Forgot Password</div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="forgot" method="get">

          <div class="form-group">

            <!-- Username -->
            <label class="control-label" for="USERID">Username:</label>
            <input type="text" class="form-control" pattern="[A-Za-z0-9_ ]{3,50}" #USERID="ngModel" name="USERID" id="USERID" [(ngModel)]="user.USERID" required autofocus>
            <br>
            <div *ngIf='USERID.invalid && (USERID.dirty || USERID.touched)' class='alert alert-danger'> Username is short
              <div *ngIf='USERID.errors.required'>Username is required</div>
            </div>

            <!-- Email -->
            <label class="control-label" for="USEREMAIL">Email:</label>
            <input type="email" class="form-control" #USEREMAIL="ngModel" name="USEREMAIL" id="USEREMAIL" [(ngModel)]="user.USEREMAIL" required autofocus><br>
          </div>
          <button class="btn btn-primary" type="submit" form="forgot"  [disabled]='!f.form.valid'>Reset Password</button>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-secondary" href="/login" role="button">Back</a>
        </form>
      </div>
    </div>
  </div>
</div>