<div style="border:0px;">
  <div class="card-header" style="background-color: #092e4d; border-radius: 0px; padding-top:2em; height:25em; min-width:100%; min-height:100%;">
    <img src="../../assets/images/homepage.png" width="45%" class="center">
  </div>
  <div class="card-body" style="border:0px;">
    <div class="row" style="border:0px;">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="font-family: Helvetica; color:#092e4d; text-align: center;">
        <h3>Play. Collect. Review.</h3><br />
        <a href="/signup" class="btn btn-info" role="button">Get Started Now</a>
      </div>
      <div class="col-md-4"></div>
    </div>
</div>
