<div class="container">
  <div class="row">
    <!-- Adding whitespace -->
    <div class="col-md-2"></div>
    <div class="col-md-8" id="group-header">
      <img id="group-thumbnail" src="../../assets/images/GroupImg.svg">
      <h1>{{group[0].GROUPNAME}}</h1>
      <!-- Will replace above line when loaded
      <h1>{{group.name}}</h1>
      -->
    </div>
    <!-- Adding whitespace -->
    <div class="col-md-2"></div>
  </div>
  <hr>
</div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="card" id="group-card">
        <div class="card-body">
          <p class="card-text" style="text-transform: uppercase; font-weight: bold; text-align:center;"><b>DETAILS</b></p>
          <hr>
          <p class="card-text">{{group[0].GROUPSUMMARY}}</p>
          <h6 class="card-subtitle mb-2 text-muted">Since {{group[0].GROUPCREATIONDATE}}</h6>
          <hr>
          <p class="card-text" style="text-transform: uppercase; font-weight: bold; text-align:center;"><b>MODERATORS</b></p>
          <hr>
          <p class="card-text"><b>Owner</b> | <a [routerLink]="['/user/', group[0].GROUPOWNER]">{{group[0].GROUPOWNER}}</a> </p>
          <p class="card-text"><b>Admins </b>
            <span *ngFor="let a of group[0].GROUPADMINS">| <a [routerLink]="['/user/', a.USERID]">{{a.USERID}} </a> </span>
          </p>
          <p class="card-text"><b>Moderators </b>
            <span *ngFor="let m of group[0].GROUPMODERATORS">| <a [routerLink]="['/user/', m.USERID]">{{m.USERID}} </a> </span>
          </p>
          <hr>
          <p class="card-text" style="text-transform: uppercase; font-weight: bold; text-align:center;"><b>Members</b></p>
          <hr>
          <p>
            <span *ngFor="let o of group[0].GROUPMEMBERS"><a [routerLink]="['/user/', o.USERID]">{{o.USERID}}</a> | </span>
            <span *ngIf="group[0].GROUPMEMBERS.length == 0">Oh no! There are no members yet! Join Now!</span>
          </p>
          <div *ngIf="this.isAdmin || this.isModerator || this.isOwner">
          <hr>
          <p class="card-text" style="text-transform: uppercase; font-weight: bold; text-align:center;"><b>ADMIN CONTROLS</b></p>
          <hr>
          </div>
          <div *ngIf="this.isOwner" style="display: inline;">
              <!-- Owner can delete the group -->
              <button type="button" class="btn btn-outline-danger" (click)="onDeleteGroup()">Delete Group</button>
          </div>

          <div *ngIf="this.isAdmin || this.isModerator || this.isOwner" style="padding-bottom:0px; display: inline;">
              <!-- Admins can edit the group -->
              <button type="button" class="btn btn-outline-dark" (click)="onEditGroup()">Edit Group</button>
          </div>
          <hr>
          <div *ngIf="this.nonMember && !this.askedToJoin" style="display: inline;">
            <!-- Non members can ask to join the group -->
            <button type="button" class="btn btn-outline-dark" (click)="onJoinGroup()">Join Group</button>
          </div>

          <div *ngIf="this.askedToJoin">
            <!-- User has asked to join, joining process is pending -->
            <p>Your request has been sent!</p>
            <button type="button" class="btn btn-outline-dark" (click)="onCancelJoinRequest()">Cancel Join Request</button>
          </div>

          <div *ngIf="this.isMember || this.isModerator || this.isAdmin">
            <!-- Members can leave the group -->
            <button type="button" class="btn btn-outline-danger" (click)="this.onLeaveGroup()">Leave Group</button>

            <!-- Members can create a discussion -->
            <button type="button" class="btn btn-outline-success">Create Discussion</button>
          </div>


        </div>
      </div>
    </div>
    <div class="col-md-8">
        <!-- Conditional: Shows the following if the user is a non-member, or not logged in -->
        <div *ngIf="this.nonMember; else elseBlock">
          Find this group interesting? Click the 'Join Group' button to join!
        </div>
        <!-- Conditional: Shows the following if the user is a member -->
        <ng-template #elseBlock>
          <h5 class="sub-heading">Discussion Board</h5>
          <p>Coming soon!</p>
        </ng-template>
      </div>
  </div>

