<div class="container">
  <div class="row">
    <!-- Adding whitespace -->
    <div class="col-md-3"></div>
    <div class="col-md-6" id="group-header">
      <img id="group-thumbnail" src="../../assets/images/GroupImg.svg">
      <h1>{{group[0].GROUPID}}</h1>
      <!-- Will replace above line when loaded
      <h1>{{group.name}}</h1>
      -->
    </div>
    <!-- Adding whitespace -->
    <div class="col-md-3"></div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5 id="details-sub-heading">Details</h5>
      <div class="card" id="group-card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Since {{group[0].GROUPCREATIONDATE}}</h6>
          <p class="card-text"><b>Owner</b> | {{group[0].GROUPOWNER}}</p>
          <p class="card-text"><b>Admins </b>
            <span *ngFor="let a of group[0].GROUPADMINS">| {{a.USERID}} </span>
          </p>
          <p class="card-text"><b>Moderators </b>
            <span *ngFor="let m of group[0].GROUPMODERATORS">| {{m.USERID}} </span>
          </p>
          <p class="card-text"><b>Other Members </b>
            <span *ngFor="let o of group[0].GROUPMEMBERS">| {{o.USERID}} </span>
          </p>
          <hr>
          <div *ngIf="!this.isMember && !this.askedToJoin">
            <!-- Non members can ask to join the group -->
            <button type="button" class="btn btn-success" (click)="onJoinGroup()">Join Group</button>
            &nbsp; &nbsp;

          </div>

          <div *ngIf="this.askedToJoin">
            <!-- User has asked to join, joining process is pending -->
            <p>Your request has been sent!</p>
            <button type="button" class="btn btn-danger" (click)="onCancelJoinRequest()">Cancel Join Request</button>
            &nbsp; &nbsp;

          </div>

          <div *ngIf="this.isAdmin">
            <!-- Admins can edit the group -->
            <button type="button" class="btn btn-primary">Edit Group</button>
            &nbsp; &nbsp;

          </div>
          <div *ngIf="this.isMember">
            <!-- Members can leave the group -->
            <button type="button" class="btn btn-danger">Leave Group</button>
            &nbsp; &nbsp;

            <!-- Members can create a discussion -->
            <button type="button" class="btn btn-success">Create Discussion</button>
            &nbsp; &nbsp;

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Conditional: Shows the following if the user is a non-member, or not logged in -->
      <div *ngIf="!this.isMember; else elseBlock">
        <h5>Description</h5>
        A brief description of the group for users that are either not logged in, or are not part of the group.
        This will be implemented with the use of *ngIf.
        <br> <br>
        Find this group interesting? Click the 'Join Group' button to join!
      </div>
      <!-- Conditional: Shows the following if the user is a member -->
      <ng-template #elseBlock>
        <h5 class="sub-heading">Discussion Board</h5>
        <p>Coming soon!</p>
      </ng-template>
    </div>
  </div>
</div>