<div style="border:0px;">
    <div class="card-header" style="background-color: #092e4d; border-radius: 0px; padding-top:1em; height:10%; min-width:100%; min-height:100%;">
      <h1>{{id}}'s Games</h1>
    </div>
    <div class="row" style="border:0px;">
      <div class="col-md-1"></div>
      <div class="col-md-2" style="border:0px;">
        <div class="card text-center" style="background-color:transparent; border:0px; padding:5px; padding-top:10px;">
          <div class="card-img-top">
            <img id="card-img" alt="profilePicture" src="../../assets/images/userProfile.svg" height=80 width=90 [routerLink]="['/user/', user.USERID]" style="cursor: pointer;">
          </div>
          <div class="card-info">
            <h3 class="card-title"><a [routerLink]="['/user/', user.USERID]" style="text-decoration:none; color:black;">{{user.USERID}}</a></h3>
            <br />
          </div>
        </div></div> 
      <div class="col-md-9" style="border:0px;">
        <div class="row" style="padding:10px; padding-bottom:0px;">
          <div class="col-md-1">
            <p><b>COVER</b></p>
          </div>
          <div class="col-md-1">
            <p><b>TITLE</b></p>
          </div>
          <div class="col-md-3">
            <p><b>DESCRIPTION</b></p>
          </div>
          <div class="col-md-1">
            <p><b>RATING</b></p>
          </div>
          <div class="col-md-1">
            <p><b>FAVOURITE?</b></p>
            </div>
          <div class="col-md-1">
          </div>
        </div>

        <div class="row" style="border:0px; padding:10px;" *ngFor="let lib of library; let i=index">
          <div class="col-md-1">
            <img src="{{lib.cover.url}}" id="game-image" class="img-responsive" width="100px" height="100px">
          </div>
          <div class="col-md-1">
            <p><b>{{lib.name}}</b></p>
          </div>
          <div class="col-md-3">
            <p id="desc">{{lib.summary}}</p>
          </div>
          <div class="col-md-1">
            <p>{{lib.rating}}
          </p>
          </div>
          <div class="col-md-1">
            <div class="checkbox">
                <label style="font-size: 1.5em">
                  <input type="checkbox" [checked]="setFave" (click)="this.setFavourite(lib.id)"/>
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                </label>
            </div>
          </div>
          <div class="col-md-1">
            <button  (click)="onRemoveGame(lib.id)" type="button" class="btn btn-outline-primary">Delete</button>
          </div>
          <div class="col-md-5"></div>
        </div>
    </div>
  </div>
