<div style="border:0px;">
    <div class="card-header" style="background-color: #092e4d; border-radius: 0px; padding-top:1em; height:10%; min-width:100%; min-height:100%;">
      <h1>My Games</h1>
    </div>
    <div class="card-body" style="border:0px;">
      <div class="row" style="border:0px;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <p>Sidebar Here</p>
        </div>
        <div class="col-md-1" style="border-left: 1px solid #092e4d">
          <img src="http://images.igdb.com/igdb/image/upload/t_1080p/p73nqxuc20nf8upc22lx.jpg" id="game-image" class="img-responsive" width="100px">
        </div>
        <div class="col-md-1">
          <p><b>GAME NAME HERE</b></p>
        </div>
        <div class="col-md-2">
          <p>Game Description Here</p>
        </div>
        <div class="col-md-1">
          <p>Rating Here</p>
        </div>
        <div class="col-md-1">
          <a href="#"><p>DELETE FROM COLLECTION</p></a>
        </div>
      </div>
  </div>
  